* {
    padding: 0;
    margin: 0;
    /* background-color: #2E2E2E; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border-top-right-radius: 150px;
    border-top-left-radius: 150px; */
    /* border-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

    /* border: 1px solid black; */
}

body {
    font-family: "Poppins", sans-serif;

}


/* NAV BAR  */


nav {
    width: 100%;
    height: 18vh;
    background-color: #e5cdcd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-left: 90px;
   



}

.nav-item {
    list-style: none;
    display: flex;
    justify-content: flex;
    gap: 20px;
}

.title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.title-logo h3 {
    color: #2E2E2E;
    /* font-size: 400; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 400;
}
a{
    text-decoration: none;
    color:black;
}



.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    

}

.nav-links .home {
    color: red;
}

.search {
    height: 40px;
    width: 250px;
    background-color: antiquewhite;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.search input {

    background-color: antiquewhite;
    border: none;

    font-display: center;
}

.search button {
    height: 20px;
    width: 30px;
    background-color: red;
    border: none;
    position: relative;
    top: -10px;
    border-radius: 50%;
}

#a1,
#a2 {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}




/* HERO SECTION */

.hero-section {
    width: 100%;
    height: 90vh;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 200px;


}

.hero1 {


    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;


    gap: 10px;


}

.hero2 {


    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;


}

.parent-chef {
    position: relative;

}

.hero1 .hero-bar {
    height: 40px;
    width: 50%;
    background-color: #FDECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.hero1 h1 {
    font-size: 60px;
}

.hero1 span {
    color: red;
    font-weight: 200;
}

.hero1 p {

    font-size: 18px;
}

.order-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;
}

.order-box {
    height: 60px;
    width: 200px;
    background-color: red;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-process {
    display: flex;
    justify-content: center;
    align-items: center;

}

.play-box {
    position: relative;
    top: 10px;
}

.parent-chef {
    display: flex;
    justify-content: center;
    align-items: center;

}

.parent-chef .chef {
    position: relative;
    width: 500px;
    height: 500px;


}


.child1-card {

    position: relative;
    top: -550px;
    left: -200px;

}

.child2-card {
    width: 20%;
    position: relative;
    top: -950px;
    left: 200px;
}

.child3-arrow {
    width: 20%;
    position: relative;
    top: -1040px;
    right:-320px;
}




/* ABOUT SECTION-1 */
.about-1 {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #FDECEC;
}

.about1-content {
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.about1-content1 p {
    color: #F54748;

}

.about1-content2 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.about1-cards {
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 90px;
    padding-bottom: 60px;
}


.p1 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;

}

.card-2 {
    height: 310px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 10px;
    left: 10px;
}

.d1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;

}

.card-2 #i1 {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.card-2 #i2 {
    font-size: 14px;
    text-align: center;
    transition: all 0.5s ease-in-out;


}

.card-2:hover {
    cursor: pointer;
    transform: rotate(-8deg);
}

.d1:hover {
    cursor: pointer;
    transform: rotate(8deg);
}

.red-box {

    background-color: red;
    height: 315px;
    width: 305px;
    border-radius: 20px;

}


/* ABOUT-SECTION2 */
.about-section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: row; */

}

.about-part1 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.about-part1 img {
    height: 700px;
    width: 600px;
    /* display:flex;
    justify-content: center;
    align-items: center; */

}

.part1-child img {
    height: 380px;
    width: 300px;
    position: absolute;
    bottom: 100px;
    left: 550px;


}

.about2-part2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.about2-part2 #p1 {
    color: #03A66B;
}

.about2-part2 #p2 {
    /* height:100px; */
    font-weight: 7000;
    font-size: 50px;
}

.about2-part2 #p3 {
    width: 400px;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
}

.about2-part2 #p4 {
    height: 50px;
    width: 200px;
    border: none;
    color: white;
    background-color: #F54748;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* ABOUT SECTION-3 */
.about-section3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.about3-part2 {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.about3-part2 #b1 {
    color: #F9BA45;
}

.about3-part2 #b2 {
    /* height:100px; */
    width:100%;
    font-weight: 7000;
    font-size: 50px;
}

.about3-part2 #b3 {
    width: 400px;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
}

.about3-part2 #b4 {
    height: 53px;
    width: 200px;

    color: black;

    background-color: white;
    border-color: #F54748;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.about3-part1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}

.about3-part1 img {
    height: 600px;
    width: 400px;


}

.part3-child img {
    height: 360px;
    width: 280px;
    position: absolute;
    bottom: 100px;
    right: 0;


}

/* SERVICE-SECTION  */
.service-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FDECEC;

}

.mobile {
    width: 40%;
}

.mobile #u1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;

}

.service-content {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    gap: 60px;
}

.service-part1 #c1 {
    color: #F54748;
}

.service-part1 #c2 {
    width: 600px;
    font-weight: 700;
    font-size: 50px;
}

.service-part1 #c3 {
    width: 600px;
    font-size: 18px;
    line-height: 30px;
    color: #676767;

}

.service-part2 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;

}


.service-part2 #q1,
.service-part2 #q2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 30px;
    gap: 3px;
    border:0;
    
    border-radius: 20px;
    background-color: #FDECEC;
   
}
.service-part2 #q1:hover,
.service-part2 #q2:hover{
    background-color:#ae6767;
}
/* FOOTER SECTION */
.footer-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 20px;
    background-color: white;
}

.top-footer {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 120px;

}

.top1,
.top2,
.top3 {
    /* width:25%; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    /* -top: 20px; */
    padding-left: 120px;

}
.top1 #s3:hover{
    transition: all 0.3s ease-in-out;
}


.top1 #s3:hover{
    color:#F54748;
}
.top4 #s3:hover{
    transition: all 0.3s ease-in-out;
}
.top4 #s3:hover{
    color:#F54748;
}

#s3 {
    list-style: none;
    font-size: 15px;
    color: #676767;
    transition: all 0.3s ease-in-out;
}
#s3 :hover{
    color:#F54748;
}

.bottom2 {
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    gap: 2px;
}

.bottomfooter {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 380px;
    padding-top: 15px;
    
    /* padding: 20px 0px 20px 50px; */

}

.footerline {
    width: 100%;
    height: 1px;
    background-color: #676767;
}

.bottompart1 {
    color: #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;


}

.bottompart2 {
    color: #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    gap: 90px;

}

@media(max-width:1024px) {

    .hero-section {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-left: 5px;
        gap: 50px;
    }


    .hero1 h1 {
        font-size: 40px;
    }

    .hero1 span {
        color: red;
        font-weight: 200;
    }

    .hero1 p {

        font-size: 12px;
    }
   

    .about1-content {
        height: 20vh;
    }


    .about1-content2 h1 {

        font-weight: 700;
        font-size: 30px;
    }

    .card-2 {
        height: 280px;
        width: 260px;
    }

    .red-box {

        height: 280px;
        width: 250px;
        border-radius: 20px;

    }

    .about-part1 img {
        height: 500px;
        width: 400px;
    }

    .part1-child img {
        width: 200px;
        height: 250px;
        position: absolute;
        bottom: 100px;
        left: 430px;
    }

    .about2-part2 #p2 {
        width: 300px;

    }

    .about2-part2 #p3 {
        width: 300px;
        font-size: 13px;
        line-height: 25px;

    }

    .about2-part2 #p4 {
        width: 150px;
    }


    .about2-part2 #p2 {
        font-size: 30px;
    }

    .about3-part2 #b2 {
        width: 320px;
        font-size: 30px;
    }

    .about3-part2 #b3 {

        font-size: 15px;
    }

    .about3-part2 #b4 {

        width: 150px;
    }

    .about3-part1 img {
        height: 500px;
        width: 350px;
    }

    .part3-child img {
        height: 220px;
        width: 200px;
        position: absolute;
        bottom: 120px;
        right: 0;

    }

    .mobile #u1 {
        padding-left: 10px;

    }


    .service-part1 #c2 {
        width: 400px;
        font-weight: 700;
        font-size: 40px;
    }

    .service-part1 #c3 {
        width: 400px;
        font-size: 15px;
        line-height: 20px;

    }

    .footer-section {
        padding-top: 10px;
        gap: 10px;
    }

    .top-footer {
        gap: 60px;
    }

    .top1,
    .top2,
    .top3,
    .top4 {

        padding-left: 65px;

    }





}


@media(max-width:768px) {

    /* .nav-item {

        gap: 10px;
    } */
    .search {
        background-color: antiquewhite;
        width: 225px;

    }

    .search input {
        background-color: antiquewhite;
    }
    .nav-links{
        position:absolute;
        right:0;
        top:18vh;
        z-index: 1000;
        width:100%;
        /* height:100vh; */
        background-color: #e5cdcd;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
        transition: all 0.5s ease-in;
    }
    .navbar .barlines{
        display:block;
        cursor:pointer;
        transition: all 0.5s ease-in;
    }
    .navbar .barlines div {
        background-color: #2E2E2E;
        height: 2px;
        width: 20px;
        margin: 5px;
    }
    .toggle .line1{
        transform: rotate(-40deg) translate(-5px, 5px)  ;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(40deg)  translate(-5px, -5px);
    }
    
    .nav-active{
        transform:translateX(0);
    }

    .hero-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
    }

    .hero1 {


        gap: 10px;

    }

    .hero2 {
        width: 400px;
        gap: 0px;
    }

    .hero-bar {
        width: 100px;
        font-size: 5px;
        text-align: center;
    }

    .hero1 h1 {
        font-size: 30px;
    }

    .order-section {

        gap: 25px;
    }

    .order-box {
        height: 40px;
        width: 125px;
    }

    .hero1 p {

        font-size: 10px;
    }

    .parent-chef .chef {

        width: 400px;
        height: 500px;

    }

    .chef img {

        width: 400px;
        height: 550px;
        position: relative;

    }

    .child1-card img {
        height: 210px;
        width: 200px;
        position: absolute;
        top: 150px;
        left: 100px;
    }

    .child3-arrow img {
        height: 150px;
        width: 100px;
        position: absolute;
        top: 650px;
        left: 10px;

    }

    .child2-card img {
        height: 150px;
        width: 150px;
        position: absolute;
        top: 480px;
        left: 60px;
    }

    .card-2 {
        height: 180px;
        width: 160px;
    }

    .red-box {

        height: 180px;
        width: 160px;
        border-radius: 20px;

    }

    /* .card-2 #i2 {
        display: none;
    } */

    .card-2 #i1 {
        font-size: 15px;
        text-align: center;
        line-height: 30px;
    }
    .card-2 #i2 {
        font-size: 6px;
    }
   .card-2 img{
        height:70px;
    }
 


    .part1-child img {

        position: absolute;
        bottom: 100px;
        left: 290px;
    }

    

    .about3-part2 #b3 {
        width: 300px;
    }

    .part3-child img {

        position: absolute;
        bottom: 120px;
        right: -30px;

    }

    .mobile img {
        height: 500px;
    }

    .service-part1 #c2 {
        font-size: 40px;
    }

    .service-part1 #c3 {
        font-size: 12px;
    }

    .service-part2 #q1,
    .service-part2 #q2 h3 {
        font-size: 10px;
    }

    .footer-section {
        padding-top: 0px;
    }

    .top-footer {
        gap: 30px;
    }

    .bottompart1,
    .bottompart2 {
        font-size: 8px;
    }

    .top1,
    .top2,
    .top3,
    .top4 {
        padding-left: 15px;
    }
    .top1 #s3,.top2 #s3,
    .top3 #s3, .top4 #s3{
        font-size: 11px;
    }
   
}

@media(max-width:450px) {
    .navbar {
        height:15vh;
        width: 100%;
        padding:20px 20px;
    }

    .search {
        background-color: antiquewhite;
        width: 150px;


    }

    .search input {
        background-color: antiquewhite;
        width: 90px;
    }

    #a1,
    #a2 {
        display: none;

    }

    .hero-section {
        height: 130vh;
        padding-left: 0px;
    }

    .hero1 {
        padding-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parent-chef {
        width: 300px;
    }

    .chef img {
        height: 450px;
        width: 300px;
    }

    .child1-card img {
        height: 180px;
        width: 140px;
        position: absolute;
        top: 150px;
        left: 150px;
    }

    .child3-arrow img {
        /* height: 150px;
        width: 80px;
        position: absolute;
        top: 690px;
        left: -100px; */
        display: none;

    }

    .child2-card img {
        height: 120px;
        width: 180px;
        position: absolute;
        top: 580px;
        left: -50px;
    }

    .about-1 {
        height: 60vh;
    }

    .about-part1 {
        padding-left: 40px;
    }


    .about1-content2 h1 {
        font-size: 18px;
    }

    .about1-cards {
        gap: 18px;
        padding-bottom: 20px;
    }

    .card-2 {
        height: 150px;
        width: 110px;
        position: absolute;
        top: 2px;
        left: 5px;
    }

    .red-box {

        height: 150px;
        width: 110px;
        border-radius: 20px;

    }
    .card-2 #i2 {
        font-size: 6px;
    }


    .d1 img {
        height: 60px;
        padding-top: 20px;
    }

    .d1 #i1 {
        font-size: 8px;
    }

    .about-section2 {
        width: 100%;
        height: 110vh;

        flex-direction: column;
        flex-wrap: wrap;
    }

    .about-section3 {
        width: 100%;
        height: 120vh;
        gap: 20px;


        flex-direction: column;
        flex-wrap: wrap;
    }

    .service-section {
        width: 100%;
        height: 150vh;
        gap: 40px;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .about-part1 {
        padding-top: 30px;
        padding-right: 40px;
    }


   
    .about-part1 img {
        height: 400px;
    }

    .part1-child img {
        height:180px;
        width: 180px;
       

        position: absolute;
        bottom: 180px;
        left: 150px;
    }

    .about2-part2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .about2-part2 #p2 {
        font-size: 22px;
    }

    .about2-part2 #p3 {
        font-size: 12px;
    }

    .about3-part2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

    }

    .about3-part2 #b2 {
        font-size: 22px;
    }

    .about3-part2 #b3 {
        font-size: 12px;
    }

    .about3-part2 #b4,
    .about2-part2 #p4 {
        height: 30px;
        width: 130px;
    }



    .about3-part1 img {
        height: 400px;
        width: 390px;
    }

    .part3-child img {
        height: 160px;
        width: 180px;
        position: absolute;
        bottom: 100px;
        right: -80px;


    }



    .mobile {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mobile img {
        height: 300px;

    }

    .service-content {
        width: 100%;
        padding-left: 40px;
        gap: 30px;
    }

    .service-part1 #c2 {
        font-size: 20px;
        width: 80%;
    }

    .service-part1 #c3 {
        width: 80%;
    }

    .footer-section {
       width:100%;
        height: 30vh;
    }

    .top-footer {
        width:100%;
        gap: 7px;
    }
    .top4{
        flex-direction: column;
    }
  .top1 img{
    height:30px;
  }
   

    .top1,.top2,
    .top3,.top4 {
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 2px;
        /* padding-left: 3px; */
    }

    .top2 h3,
    .top3 h3,.top4 h3 {
        font-size: 10px;
    }

    .top1 #s3,.top2 #s3,
    .top3 #s3 {
        font-size: 9px;
    }
    .top4 #s3{
        font-size: 9px;
    }

    
    .bottomfooter{
        padding-top:2px;
        align-items: flex-end;
    }

    .bottompart2 {
        gap: 160px;
        align-items: flex-end;
    }

    .bottompart1 {
        display: none;
    }



}


@media(max-width:390px) {
    .navbar{
        padding-top: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .about-1 {
        height: 90vh;
        gap: 30px;
    }


    .about1-cards {
        height: 300px;
        width: 100%;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    .card-2 {
        height: 150px;
        width: 130px;
        position: absolute;
        top: 2px;
        left: 5px;
    }
    .card-2 #i2 {
        font-size: 6px;
    }


    .red-box {

        height: 150px;
        width: 130px;
        border-radius: 20px;

    }
    .about-part1 img {
        height: 300px;
        width: 280px;
    }
   

    .part1-child img {
        height: 180px;
        width: 120px;
        position: absolute;
        bottom: 100px;
        left:150px;
    }
    .service-section{
        height:120vh;
    }
    .service-part2 {
        width: 100%;
    }

    .service-part2 #q1 img,
    .service-part2 #q2 img {
        width: 20px;
    }


    .service-part2 #q1,
    .service-part2 #q2 {
        width: 130px;
        font-size: 10px;
        padding: 5px 10px;
        gap: 3px;

    }


}

@media(max-width:350px) {
    .hero-section {
        height:100vh;
        gap:10px;
    }
    .hero1{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-left: 30px;
    }
    .hero-bar p{
        padding-left: 3px;
        font-size: 9px;
    }
    .order-box{
        width:100px;
        font-size: 10px;
    }
    .navbar{
        padding-top: 20px;
        align-items: center;
        justify-content: space-around;
    }
    .nav-links{
        font-size: 12px;
        top:15vh;
        gap:5px;
    }
    
    .search {
        display: none;
    }

    .mobile {
        padding-top: 10px;
        padding-left: 10px;
    }

    .service-section {
        height: 115vh;
        gap:2px;
    }

    
    .service-part2 {
        width: 100%;
    }

    .service-part2 #q1 img,
    .service-part2 #q2 img {
        width: 20px;
    }


    .service-part2 #q1,
    .service-part2 #q2 {
        width: 130px;
        font-size: 10px;
        padding: 5px 10px;
        gap: 3px;

    }

    .about-section2 {
        height: 100vh;

    }

    .about-section3 {
        height: 100vh;
        flex-direction: column-reverse;
    }

    .service-content {
         padding-top: 50px;
        padding-left: 80px; 
        display: flex;
        justify-content: center;
    }

    .service-part2 {
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
    }


    .part3-child img {
        width: 160px;
        position: absolute;
        bottom: 150px;
        right: -80px;
    }
    .about-section2{
        height:100vh;
        gap:50px;
    }
    .about2-part2{
        padding-left: 80px;
        display: flex;
        align-items: flex-start;
    }
    .about3-part2 #b2 {
        width: 240px;
        font-size: 18px;
    }

    .about3-part2 #b3 {
        width: 240px;
        font-size: 11px;
        line-height: 20px;
    }

    .about2-part2 #p2 {
        width: 240px;
        font-size: 18px;
    }

    .about2-part2 #p3 {
        width: 240px;
        font-size: 11px;
        line-height: 20px;
    }

    .hero1 .hero-bar {
        height: 28px;
    }

    .hero1 h1 {
        font-size: 25px;
        width: 250px;
    }

    .order-section .order-box {
        height: 30px;
    }

    .hero-section {
        height: 110vh;
    }

    .chef {
        padding-left: 20px;
    }

    .chef img {
        height: 350px;
        width: 250px;
    }

    .child1-card img {
        height: 180px;
        width: 140px;
        position: absolute;
        top: 240px;
        left: 160px;
    }

    .child2-card img {
        height: 120px;
        width: 150px;
        top: 680px;
        left: -60px;
    }
   
    .about3-part2{
        display:flex;
        align-items: flex-start;
        padding-left: 80px;
    }

    /* .child3-arrow img {
        height: 150px;
        width: 80px;
        position: absolute;
        top: 770px;
        left: -100px;

    } */

    .about-1 {
        padding:5px;
        height: 90vh;
        gap: 20px;
    }

    .about1-content {
        padding-top: 20px;
    }

    .about1-cards {
        height: 300px;
        width: 100%;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    .card-2 {
        height: 150px;
        width: 130px;
        position: absolute;
        top: 2px;
        left: 5px;
    }

    .red-box {

        height: 150px;
        width: 130px;
        border-radius: 20px;

    }

    .card-2 #i2 {
        font-size: 6px;
    }

    .about-part1 img {
        height: 300px;
        width: 280px;
    }

    .part1-child img {
        height: 180px;
        width: 120px;
        position: absolute;
        bottom: 100px;
        left: 120px;
    }
    .footer-section{
        height:60vh;
    }
  .top-footer{
    width: 100%;
    gap:6px;
    flex-direction: column;
  }
  .top1, .top2, .top3, .top4{
    width:100%
  }

}